body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--c2);
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.content {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
}
@media (max-width: 900px) {
  .content {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .content {
    margin-left: 32px;
    margin-right: 32 px;
    margin-bottom: 120px;
  }
}

.button {
  display: flex;
  align-items: end;
}
.button img {
  margin: 4px 0px;
}

.botao {
  display: inline-block;
  color: var(--c1);
  margin-top: 40px;
  width: fit-content;
  position: relative;
  margin-right: 12px;
}

.botao::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--p2);
  margin-top: 4px;
  transition: 0.5s;
  position: absolute;
}
.botao:hover:after {
  width: 100%;
}

@media (max-width: 480px) {
  .button img {
    height: 16px;
  }
}
.vetores {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .vetores {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .vetores {
    height: 30px;
  }
}