body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--c2);
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.content {
  margin-left: 80px;
  margin-right: 80px;
}

.botao{
  display: inline-block;
  color: var(--c1);
  font: 400 1.5rem/1.5 'Montserrat';
  margin-top: 40px; 
  width: fit-content;
  position: relative;
}

.botao::after {
 content: '';
 display: block;
 height: 4px;
 width: 0px;
 background: var(--p2);
 margin-top: 4px;
 transition: 0.5s;
 position: absolute;
 
}
.botao:hover:after{
  width: 100%;
}
