body {
    margin: 0px;
    padding: 0px;
}

a, ul {
    list-style: nome;
    text-decoration: nome;
    color: inherit;
}

.content {
    margin-left: 80px;
    margin-right: 80px;

}

.botao {
    padding: 0px 12px 4px 0px;
    border-bottom: 4px solid var(--g1);
}