.hero {
  padding-bottom: 180px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/css/assets/bg.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 180px;
}

.txt-hero,
.font-logo {
  position: relative;
}
.txt-hero {
  width: 50%;
  align-items: center;
}
.txt-hero > .font-h1 {
  margin-bottom: 12px;
}
header {
  text-align: center;
  margin-bottom: 180px;
}
